<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianque.grid.ce2.infrastructure.mybatis.mapper.DemoMapper">

    <parameterMap id="queryPageCommand"
                  type="com.tianque.grid.ce2.application.command.demo.DemoQueryPageCommand"/>
    <resultMap id="demoVO" type="com.tianque.grid.ce2.infrastructure.server.vo.DemoVO"/>


    <sql id="sql_where">
        <if test="belongOrgCode != null and belongOrgCode != ''">
            and d.org_code like concat(#{belongOrgCode},'%')
        </if>
        <if test="type != null">
            and d.type = #{type}
        </if>
        <if test="keyword != null">
            and d.keyword = #{keyword}
        </if>
    </sql>

    <sql id="sql_column">
       id, name, type, occur_time, create_dept_code, belong_dept_code, create_user,
       create_date, update_user, update_date, is_delete
    </sql>


    <select id="queryPage" resultMap="demoVO" parameterMap="queryPageCommand">
        select <include refid="sql_column"/>
        from demo d
        where d.IS_DELETE = 0
        <include refid="sql_where"/>
    </select>

    <select id="queryPage_COUNT" resultType="Long">
    select count(0)
    from demo d
    where d.IS_DELETE = 0
    <include refid="sql_where"/>
    </select>
</mapper>
